---
layout: default
title: Home
---

<main id="main" class="site-main">

    {% if page.url == "/" %}
    <!-- Featured-->
    <div class="post-feed-title">Featured</div>
    <div id="featured-posts" class="featured-posts">
        {% for post in site.posts %}
        {% if post.featured == true %}
        {% include featuredbox.html %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif%}

    <!-- Posts Index -->
    {% if page.url == "/" %}
    <div class="post-feed-title">Latest</div>
    {% endif %}
    <div class="post-feed inner">
        {% for post in paginator.posts %}
        {% include postbox.html %}
        {% endfor %}
    </div>

    <!-- Pagination-->
    {% include pagination.html %}
</main>


