---
layout: page
title: Projects
projects: [
  {
    name: AgileMapper,
    image: AgileMapper.gif,
    description: [
        'Powerful, fast, zero-configuration object mapper',
        'Transforms, updates, merges, deep clones and projects queries',
        'Viewable execution plans',
        '<a href="https://nuget.org/packages/AgileObjects.AgileMapper">NuGet</a> package for .NET 3.5+ and .NET Standard 1.0+'
    ]
  },
  {
    name: ReadableExpressions,
    image: ReadableExpressions.gif,
    description: [
        'Converts <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/expression-trees" target="_blank">Expression</a> objects into readable source code',
        '<a href="https://marketplace.visualstudio.com/items?itemName=vs-publisher-1232914.ReadableExpressionsVisualizers" target="_blank">Debugger visualizers</a> for Visual Studio 2010+',
        '<a href="https://nuget.org/packages/AgileObjects.ReadableExpressions">NuGet</a> package for .NET 3.5+ and .NET Standard 1.0+'
    ]
  },
  {
    name: NetStandardPolyfills,
    image: NetStandardPolyfills.gif,
    description: [
        '80+ Type and reflection extension methods',
        'Polyfills for .NET 3.5, .NET 4.0 and .NET Standard 1.0',
        '<a href="https://nuget.org/packages/AgileObjects.NetStandardPolyfills">NuGet</a> package for .NET 3.5+ and .NET Standard 1.0+'
    ]
  }
]
---

<!-- Personal -->
<div id="personal-projects" class="featured-projects">
    {% for project in page.projects %}
    {% include projectbox.html %}
    {% endfor %}
</div>