<p class="social-links">
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
        {% include icons/github.html %}
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        {% include icons/linkedin.html %}
    </a>
    {% endif %}
    {% if site.stackoverflow %}
    <a href="https://www.stackoverflow.com/{{ site.stackoverflow }}" target="_blank">
        {% include icons/stack-overflow.html %}
    </a>
    {% endif %}
    {% if site.rss %}
    <a href="/feed.xml" target="_blank">
        {% include icons/rss.html %}
    </a>
    {% endif %}
    {% if site.email %}
    <a href="/contact" target="_blank">
        {% include icons/envelope.html %}
    </a>
    {% endif %}
</p>