@import "_variables.scss";

/* Form fields */
input,
textarea {
    background: $white;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 0 0;
    padding: 8px 10px;
    vertical-align: baseline;
}

input[type="text"],
textarea {
    border: 1px solid $black;
    color: $gray-darkest;
    display: block;
    max-width: 100%;
    width: 100%;
}

input[type="text"]:focus,
textarea:focus {
    outline: 0;
}

button,
input[type="submit"],
input[type="button"],
a.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $gray-darkest;
    border: 1px solid $gray-lighter;
    box-sizing: border-box;
    color: $body-text-color;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
a.button:hover,
a.button:focus,
input.confirm-button { 
    background: $gray-lighter;
    color: $black;
    outline: 0;
}

input.confirm-button {
    border-color: $color-accent;
}
/* Placeholder text color */
::-webkit-input-placeholder {
    color: $gray;
}

:-moz-placeholder {
    color: $gray;
}

::-moz-placeholder {
    color: $gray;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $gray;
}
