@import "_variables.scss";

/**
 * 1. General
 * ----------------------------------------------------------------------------
 */
html {
    font-family: $font-primary;
    font-size: 112.5%;
    height: 100%;
    min-height: 100%;
}

body {
    background: $body-bg-color;
    color: $body-text-color;
    line-height: 1.66667;
}

a {
    color: $color-accent;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $body-title-color;
    font-family: $font-title;
    font-weight: $body-title-weight;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.66667rem;
    margin: 0.75em 0 0.375em;
}

h2 {
    font-size: 2rem;
    margin: 0.83333em 0 0.41667em;
}

h3 {
    font-size: 1.66667rem;
    margin: 1em 0 0.5em;
}

h4 {
    font-size: 1.33333rem;
    margin: 1.25em 0 0.625em;
}

h5 {
    font-size: 1.11111rem;
    margin: 1.5em 0 0.75em;
}

h6 {
    font-size: 1rem;
    margin: 1.66667em 0 0.83333em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

p {
    margin: 0 0 1.66667em;
}

ul,
ol {
    margin: 0 0 1.66667em;
    padding: 0 0 0 1.66667em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

li {
    clear: both;
}

ol li:not(last-child) {
    margin-bottom: .33334em;
}

th,
td {
    border-bottom: 1px solid $gray-lighter;
    padding: 0.5em 5px;
}

th {
    color: $body-text-color;
    font-weight: bold;
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
    max-width: 100%;
}

/* Images */
img {
    height: auto;
    max-width: 100%;
}

.medium-border, img[src*="#medium-border"] {
    border: 1px solid $gray;
}

p > img[src*="#center"] {
    display: block;
    margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-identity .site-title,
.site-logo + .site-identity .site-description {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}

/* Icons */
.icon-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1.66667em;

    svg {
        fill: currentColor;
    }
}

.icons-sm svg {
    height: 18px
}

.icons-md svg {
    height: 24px
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up {
    background: currentColor;
    color: inherit;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.icon-arrow-left,
.icon-arrow-right {
    height: 2px;
    width: 35px;
}

.icon-arrow-up {
    height: 18px;
    width: 2px;
}

.icon-arrow-left:before,
.icon-arrow-right:before {
    content: "";
    height: 12px;
    position: absolute;
    width: 12px;
}

.icon-arrow-up:before {
    content: "";
    height: 6px;
    position: absolute;
    width: 6px;
}

.icon-arrow-left:before {
    border-left: 2px solid currentColor;
    border-top: 2px solid currentColor;
    left: -1px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.icon-arrow-right:before {
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    right: -1px;
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: right top;
    transform-origin: right top;
}

.icon-arrow-up:before {
    border-left: 2px solid currentColor;
    border-top: 2px solid currentColor;
    left: 1px;
    top: -1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.icon-close {
    background: 0;
    color: inherit;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 30px;
}

.icon-close:before,
.icon-close:after {
    background: currentColor;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.icon-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon-menu {
    background: currentColor;
    color: inherit;
    height: 2px;
    margin-top: -1px;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: width .15s ease;
    transition: width .15s ease;
    width: 20px;
}

.icon-menu:before,
.icon-menu:after {
    background: currentColor;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform .15s ease;
    -webkit-transition: transform .15s ease;
    transition: transform .15s ease;
    width: 20px;
}

.icon-menu:before {
    top: 5px;
}

.icon-menu:after {
    top: -5px;
}

.menu--opened .icon-menu {
    width: 35px;
}

.menu--opened .icon-menu:before {
    -webkit-transform: translate3d(5px, 0, 0) rotate(-45deg) scale(0.78, 1);
    transform: translate3d(5px, 0, 0) rotate(-45deg) scale(0.78, 1);
}

.menu--opened .icon-menu:after {
    -webkit-transform: translate3d(5px, 0, 0) rotate(45deg) scale(0.78, 1);
    transform: translate3d(5px, 0, 0) rotate(45deg) scale(0.78, 1);
}

/* Animations */
.fade-in-down {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade-in-down;
    animation-name: fade-in-down;
}

@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fade-out {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.delay-025s {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.hidden {
    display: none;
}
