@import "_variables.scss";

/**
 * 6. Media Queries
 * ----------------------------------------------------------------------------
 */
@media only screen and (min-width: 801px) {
    .site-content {
        margin-left: 30vw;
        padding-bottom: 3.33333em;
        padding-top: 3.33333em;
    }

    .site-header {
        height: 100%;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 30vw;
    }

    .site-header-wrap {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: relative;
    }

    .site-header-inside {
        padding-bottom: 3.33333em;
        padding-top: 3.33333em;
    }

    .site-branding {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .site-identity {
        margin-bottom: 1.66667em;
        padding: 0;
    }

    .site-logo,
    .profile {
        margin: 0 0 1.66667em;
    }

    .site-logo img {
        max-height: 100px;
    }

    .profile .avatar {
        height: 100px;
        width: 100px;
    }

    .site-title {
        font-size: 1.33333rem;
        line-height: 1.2;
    }

    .site-description {
        font-size: 0.66667rem;
        line-height: 1.2;
        margin-top: 0.4em;
    }

    .menu-toggle {
        display: none;
    }

    .site-navigation {
        position: static;
        visibility: visible;
    }

    .site-nav-inside {
        padding: 0;
    }

    .social-links {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .social-links a {
        margin: 0 5px 0.5em;
    }
}

@media only screen and (min-width: 1001px) {
    .site-content {
        margin-left: 300px;
    }

    .site-header {
        width: 300px;
    }

    .site-header-inside {
        padding-left: 30px;
        padding-right: 30px;
    }

    .post-featured {
        flex: 0 0 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .project-featured {
        .project-title {
            font-size: 1.33333rem;
        }

        .project-thumbnail {
            margin: 0;
        }

        .project-content {
            font-size: .9rem;
            padding-left: 20px;
        }
    }
}

@media only screen and (min-width: 1086px) {
    .post-full .post-thumbnail,
    .post-content img[src$='#full'] {
        margin-left: calc(510px - 47vw);
        margin-right: calc(510px - 47vw);
        max-width: none;
        width: calc(94vw - 300px);
    }
}

@media only screen and (min-width: 1469px) {
    .post-featured:first-child {
        flex: 0 0 54%;
        margin-right: 1%;
    }

    .post-featured:last-child:not(:only-child) {
        flex: 0 0 45%;
    }

    .post-featured:only-child .post-title {
        margin: auto;
        max-width: 80%;
        padding: 1em 1.5em;
    }

    .post-full .post-thumbnail,
    .post-content img[src$='#full'] {
        margin-left: -180px;
        margin-right: -180px;
        max-width: none;
        width: 1080px;
    }

    .project-featured .project-content {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2001px) {
    .site-content {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 1086px) {
    .post-thumbnail img {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .menu--opened .site {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        width: 100%;
        z-index: 9997;
    }

    .menu--opened .site-navigation {
        right: 0;
        -webkit-transition: right .3s ease-in-out;
        transition: right .3s ease-in-out;
        visibility: visible;
    }

    h1,
    .post-full .post-title {
        font-size: 2.22222rem;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 100%;
    }

    h1,
    .post-full .post-title {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3125rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    h5,
    h6 {
        font-size: 1rem;
    }

    .post-full .post-content > p:first-child:first-letter {
        font-size: 60px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .hero-text {
        font-size: 1.33333rem;
    }
}

@media only screen and (max-width: 360px) {
    .read-next .post-title {
        font-size: 1.11111rem;
    }
}
