// Fonts
$font-title: 'Segoe UI Light', 'Calibri Light', 'Arial Narrow', sans-serif;
$font-primary: 'Segoe UI', 'Calibri', Arial, sans-serif;

// Colors
$color-accent: #EFE524;
$black: #1a1a1a;
$gray-darkest: #1e1e1e;
$gray-dark-alt: #222;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
$white: #fff;
$red: #E55065;
$green: #50D174;
$blue: #59a6ff;
$cyan: #1ba1e2;

// Abstractions
$header-bg-color: $black;
$header-text-color: $white;

$body-bg-color: $gray-darkest;
$body-title-color: $blue;
$body-title-weight: 300;
$body-subheading-color: $gray-light;
$body-text-color: $white;
$body-code-color: $gray-lighter;
$body-code-bg-color: $gray-dark-alt;

$code-border-color: $gray-light;
$code-bg-color: $gray-lighter;
$code-text-color: $gray-darkest;

$updated-bg-color: $cyan;
$updated-text-color: $white;

$form-error-color: $red;

$tooltip-bg-color: $black;
$tooltip-text-color: $white

