// Fonts
$font-title: 'Segoe UI Light', 'Calibri Light', 'Arial Narrow', sans-serif;
$font-primary: 'Segoe UI', 'Calibri', Arial, sans-serif;

// Colors
$color-accent: #fffac4;
$black: #1a1a1a;
$gray-darkest: #1e1e1e;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
$white: #fff;
$red: #E55065;

// Abstractions
$header-bg-color: $black;
$header-text-color: $white;

$body-bg-color: $gray-darkest;
$body-title-color: $white;
$body-title-weight: 300;
$body-subheading-color: $gray-light;
$body-text-color: $white;
$body-code-color: $gray-lighter;

$code-border-color: $gray-light;
$code-bg-color: $gray-lighter;
$code-text-color: $gray-darkest;

$form-error-color: $red;
