---
layout: default
comments: true
---

{% include comments/load.html %}

<main id="main" class="site-main">

    <article class="post-full inner">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.tags.size > 0 %}
            <p class="post-tags">
                {% for tag in page.tags %}<a href="/tags/#{{ tag | cgi_encode }}" rel="tag">{{ tag }}</a>
                {% unless forloop.last %} {% endunless %}{% endfor %}
            </p>
            {% endif %}
            {% include comments/link.html %}
            {% include reading-time.html %}
        </header><!-- .post-header -->
        {% if page.featured_image %}
        <div class="post-thumbnail">
            <img src="{{ page.featured_image }}" alt="{{ page.title }}">
        </div>
        {% endif %}
        <div class="profile">
            <img src="{{ site.author.image }}" alt="{{ site.author.name }}'s Picture" class="avatar" style="margin-bottom: .66667em" />
            Steve Wilkes, Principal Consultant
        </div>
        <div class="post-content">
            {{content}}
        </div>
        <footer class="post-footer">
            <div class="post-share">
                <span class="post-share-title">Share:</span>
                <a target="_blank"
                   href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ site.production_url }}{{ page.url | remove_first: '/' }}">Twitter</a>
                <a target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url | remove_first: '/' }}">Facebook</a>
            </div><!-- .share-post -->
            <div class="post-meta">
                <time class="post-date" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                    {{ page.date | date: '%B %-d, %Y' }}
                </time>
            </div><!-- .post-meta -->
        </footer>
        {% include to-top-link.html %}
        {% include comments/index.html %}
    </article>
    <section class="read-next inner">
        <h2 class="read-next-title">Read Next</h2>
        {% if page.previous.url %}
        <article class="post">
            <header class="post-header">
                <h3 class="post-title">
                    <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                </h3>
                <p class="post-tags">
                    {% if page.previous.tags.size > 0 %}
                    {% for tag in page.previous.tags %}
                    <a href="/tags/#{{ tag | cgi_encode }}">{{ tag }}</a>
                    {% endfor %}
                    {% endif %}
                </p>
                <div class="post-meta">
                    <time class="published" datetime="{{page.previous.date | date: '%B %-d, %Y'}}">{{page.previous.date | date: '%B %-d, %Y'}}</time>
                </div>
            </header>
        </article>
        {% endif %}
        {% if page.next.url %}
        <article class="post">
            <header class="post-header">
                <h3 class="post-title"><a href="{{ page.next.url }}">{{ page.next.title }}</a></h3>
                <p class="post-tags">
                    {% if page.next.tags.size > 0 %}
                    {% for tag in page.next.tags %}
                    <a href="/tags/#{{ tag | cgi_encode }}">{{ tag }}</a>
                    {% endfor %}
                    {% endif %}
                </p>
                <div class="post-meta">
                    <time class="published" datetime="{{ page.next.date | date: '%B %-d, %Y' }}">{{ page.next.date | date: '%B %-d, %Y' }}</time>
                </div>
            </header>
        </article>
        {% endif %}
    </section><!-- .read-next -->
    {% include tag-cloud.html %}
</main><!-- .site-main -->